
<div class="card col-sm-4">
  <div class="card-header">
    <h2><%= @friend.first_name %> <%= @friend.last_name %></h2> 
  </div>
  <div class="card-body">
      <p>
        <strong>Email:</strong>
        <%= @friend.email %>
      </p>

      <p>
        <strong>Twitter:</strong>
        <%= @friend.twitter %>
      </p>
  </div>
</div>
<br>
<%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-secondary" %> 
<%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
<%= link_to 'Back', friends_path, class: "btn btn-secondary" %>
